<h1>{{item.title}}</h1>

<div class="item">
  <img [src]="item.image" class="large">
  <span>Автор: {{item.user}}</span>
  <a (click)="like()" [routerLink]="">Нравится: {{ item.like_count}}</a>
  <a *ngIf="item.is_owner" [routerLink]="" (click)="remove()">Удалить</a>
</div>

<div>
  <h2>Оставьте комментарий</h2>
  <form [formGroup]="commentForm" (submit)="onSubmit(commentForm.value)">
    <div>
      <label for="content">
        Комментарий
      </label><br>
      <textarea id="content" formControlName="content" placeholder="Ваш отзыв"></textarea>
    </div>
    <button class="button" type="submit">Сохранить</button>
  </form>
  <h2>Комментарии ({{comments.length}})</h2>
  <ul>
    <li *ngFor="let comment of comments; let i = index;">
      <span>{{comment.user}}</span>, <small>{{comment.created|date}}</small>&nbsp;
      <a *ngIf="item.is_owner" [routerLink]="" (click)="removeComment(i)">Удалить</a>
      <p>
        {{ comment.content }}
      </p>
      <hr>
    </li>
  </ul>
</div>
