<div class="container">
  <div *ngFor="let item of items; let i=index"
       class="item">
    <b>{{item.title}}</b>
    <a [routerLink]="['/gallery', item.id]"><img [src]="item.thumb"></a>
    <span>Автор: {{ item.user}}</span>
    <span>Лайки: {{ item.like_count}}</span>
    <span>Комменты: {{ item.comment_count}}</span>
    <a *ngIf="item.is_owner" [routerLink]="" (click)="remove(i)">Удалить</a>
  </div>
  <div *ngIf="offset?.next" class="more">
    <a [routerLink]="" (click)="getItems(offset.next)">Еще...</a>
  </div>
</div>
